<div class="header">
    <div class="nav">
        <div class="logo">
            <img src="../../assets/logonav.png" height="80px">
        </div>
        <span>Home</span>
        <!-- <span>Carrer</span>
        <span>Resume</span> -->
    </div>
    <div class="action">
        <span class="moon" *ngIf="toggle == 'dark'"><fa-icon [icon]="faMoon" (click)="toggleTheme()"></fa-icon></span>
       <span class="sun" *ngIf="toggle == 'light'"><img src="../../assets/sunfull.svg" (click)="toggleTheme()" height="40px"></span>
        
        </div>
</div>