<div class="container">
  <div class="head">
    <app-header></app-header>
  </div>
  <div class="wrapper">
    <div class="centered">
      <div class="focus">
        <div class="center-image">
          <img src="../../assets/favicon.png" />
        </div>
        <h1 class="title">
          <span class="upper"
            ><svg>
              <symbol id="s-text">
                <text text-anchor="middle" x="45%" y="70%">Rahul</text>
              </symbol>
              <g class="g-ants">
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
              </g>
            </svg>
          </span>
          <span class="lower">
            <svg>
              <symbol id="r-text">
                <text text-anchor="middle" x="50%" y="70%">Sharma</text>
              </symbol>
              <g class="g-ants">
                <use xlink:href="#r-text" class="text-copy"></use>
                <use xlink:href="#r-text" class="text-copy"></use>
                <use xlink:href="#r-text" class="text-copy"></use>
                <use xlink:href="#r-text" class="text-copy"></use>
                <use xlink:href="#r-text" class="text-copy"></use>
              </g>
            </svg>
          </span>
        </h1>
      </div>
      <div class="quote">
        <span>Bringing Mockups to life with Code.</span>
        <span class="desc">Frontend Developer | Web | Mobile.</span>
      </div>
    </div>
    <div class="curve">
      <svg
        preserveAspectRatio="none"
        width="1440"
        height="74"
        viewBox="0 0 1440 74"
        class="Hero__Swoops-sc-13y35jq-4 laHbQG"
      >
        <path
          d="M456.464 0.0433865C277.158 -1.70575 0 50.0141 0 50.0141V74H1440V50.0141C1440 50.0141 1320.4 31.1925 1243.09 27.0276C1099.33 19.2816 1019.08 53.1981 875.138 50.0141C710.527 46.3727 621.108 1.64949 456.464 0.0433865Z"
        ></path>
      </svg>
    </div>
  </div>
  <div class="lowerDiv">
    <span class="animeText"> <h2>COMING SOON</h2></span>
  </div>
</div>
